[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = RDMA core userspace libraries and daemons
[access "refs/*"]
	owner = group user/haimbo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/haimbo
	label-Verified = -1..+1 group user/haimbo
	push = group user/haimbo
	read = group user/haimbo
	rebase = group user/haimbo
	removeReviewer = group user/haimbo
	submit = group user/haimbo
[access "refs/heads/*"]
	create = group user/haimbo
	push = +force group user/haimbo
	pushMerge = group user/haimbo
	read = group user/haimbo
[access "refs/tags/*"]
	push = group user/haimbo
	push = +force group user/haimbo
[receive]
	requireChangeId = false
